<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
    background-color: rgb(255, 123, 0);
}
h1{
    text-align: center;
    text-decoration: underline;
}
p{
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
}
    </style>
</head>
<body>
    <h1>Hello guys...</h1>
    <h1>this is my about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt repudiandae iusto numquam sed quasi harum tenetur eos? Est fugiat, rem laudantium aperiam autem eum nam aliquid magni animi provident repellendus.</p>
</body>
</html>